

body{
    background-color: black;

}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 70px;

}

h1
{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: black;
    text-align-last: center;
    text-transform: uppercase;

}

img{
    border: 5px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    color: white;
    text-align-last: center;
}

